@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,100..900&display=swap");
html {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Pathway Extreme", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #030d14;
}

a,
button,
input,
textarea {
  font-family: "Pathway Extreme", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

figure {
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 0 0;
  z-index: 5;
}
.header .container {
  position: relative;
}
.header__title {
  margin: 0 auto 20px;
  font-size: 136px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 1400px) {
  .header__title {
    max-width: 860px;
    font-size: 100px;
    line-height: 120%;
  }
}
@media (max-width: 1024px) {
  .header__title {
    max-width: 768px;
    font-size: 96px;
    line-height: 130%;
  }
}
@media (max-width: 768px) {
  .header__title {
    margin: 0 auto 30px;
    font-size: 72px;
    line-height: normal;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 48px;
  }
}
.header__tagline {
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (max-width: 1024px) {
  .header__tagline {
    margin: 0 0 60px;
  }
}
@media (max-width: 576px) {
  .header__tagline {
    font-size: 24px;
  }
}
.header__social {
  position: absolute;
  top: 68px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 1024px) {
  .header__social {
    position: static;
    flex-direction: row;
    justify-content: center;
  }
}
.header__social-link {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
}
@media (max-width: 768px) {
  .header__social-link {
    width: 56px;
    height: 56px;
  }
}
.header__social-link:hover {
  transform: scale(1.08);
}
.header__social-link:active {
  transform: scale(1);
}
.header__social-link_x {
  background-image: url(../assets/twitter.svg);
}
.header__social-link_tg {
  background-image: url(../assets/telegram.svg);
}

.wallets {
  position: relative;
  padding-top: 716px;
  padding-bottom: 48px;
}
@media (max-width: 768px) {
  .wallets {
    padding-top: 560px;
  }
}
@media (max-width: 576px) {
  .wallets {
    padding-top: 500px;
  }
}
.wallets::before {
  content: "";
  position: absolute;
  top: 122px;
  left: 50%;
  z-index: -2;
  max-width: 100%;
  width: 934px;
  height: 934px;
  background: url(../assets/michelle-head.svg) center no-repeat;
  background-size: 934px;
  transform: translateX(-50%);
  mix-blend-mode: overlay;
}
@media (max-width: 768px) {
  .wallets::before {
    background-size: 600px;
    background-position: top center;
  }
}
@media (max-width: 576px) {
  .wallets::before {
    background-size: 400px;
    background-position: top 100px center;
  }
}
.wallets::after {
  content: "";
  position: absolute;
  top: -362px;
  left: 50%;
  z-index: -1;
  max-width: 100%;
  width: 1582px;
  height: 2685px;
  background: url(../assets/firstscreen-bg.png) center no-repeat;
  background-size: 1582px;
  transform: translateX(-50%);
}
.wallets__item {
  position: relative;
  display: flex;
  gap: 18px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 24px;
  padding: 18px 17px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.07);
  background-color: rgba(255, 255, 255, 0.02);
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .wallets__item {
    gap: 12px;
    padding: 8px 12px;
  }
}
.wallets__item:hover {
  border-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.1);
}
.wallets__item:active {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.14);
}
.wallets__item:last-child {
  margin-bottom: 0;
}
.wallets__item:nth-child(odd) {
  border-top-left-radius: 4px;
}
.wallets__item:nth-child(even) {
  margin-left: auto;
  border-top-right-radius: 4px;
}
.wallets__item.active {
  border-color: rgba(102, 255, 0, 0.3);
  background-color: rgba(102, 255, 0, 0.05);
}
.wallets__item.active::before {
  content: "copied to clipboard";
  position: absolute;
  top: 12px;
  right: 17px;
  color: rgba(102, 255, 0, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
@media (max-width: 768px) {
  .wallets__item.active::before {
    top: 6px;
    right: 12px;
    font-size: 10px;
  }
}
.wallets__item.active:hover {
  background-color: rgba(102, 255, 0, 0.1);
}
.wallets__item.active:active {
  background-color: rgba(102, 255, 0, 0.14);
}
.wallets__item-figure {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
@media (max-width: 768px) {
  .wallets__item-figure {
    width: 48px;
    height: 48px;
  }
}
.wallets__item-figure-image {
  display: block;
  max-width: 100%;
}
.wallets__item-text {
  color: #ffffff;
}
.wallets__item-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
@media (max-width: 768px) {
  .wallets__item-name {
    font-size: 16px;
    line-height: 20px;
  }
}
.wallets__item-contract {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  word-break: break-word;
}
@media (max-width: 768px) {
  .wallets__item-contract {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .wallets__item-contract {
    font-size: 14px;
    line-height: 18px;
  }
}

.introducing {
  padding-bottom: 48px;
  color: #ffffff;
}
.introducing .container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
@media (max-width: 1400px) {
  .introducing .container {
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .introducing .container {
    gap: 12px;
  }
}
@media (max-width: 576px) {
  .introducing .container {
    flex-direction: column;
    gap: 20px;
  }
}
.introducing__figure {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}
@media (max-width: 576px) {
  .introducing__figure {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 420px;
    max-width: 400px;
  }
}
.introducing__figure_left, .introducing__figure_right {
  flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  height: 756px;
}
@media (max-width: 1024px) {
  .introducing__figure_left, .introducing__figure_right {
    flex: 0 0 calc(33.3333333333% - 8px);
    height: 480px;
  }
}
@media (max-width: 768px) {
  .introducing__figure_left, .introducing__figure_right {
    height: 400px;
  }
}
@media (max-width: 576px) {
  .introducing__figure_left, .introducing__figure_right {
    flex: 0 1 auto;
    order: 1;
    height: auto;
  }
}
.introducing__figure_left .introducing__figure-image, .introducing__figure_right .introducing__figure-image {
  height: 100%;
  object-fit: cover;
}
.introducing__figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.introducing__main {
  flex: 0 0 calc(33.3333333333% - 8px);
}
@media (max-width: 576px) {
  .introducing__main {
    order: 0;
    flex: 0 1 auto;
    max-width: 400px;
  }
}
.introducing__title {
  margin: 48px 0 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1024px) {
  .introducing__title {
    margin: 20px 0 0;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .introducing__title {
    font-size: 20px;
  }
}
.introducing__text {
  margin: 18px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 1024px) {
  .introducing__text {
    margin: 14px 0 0;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .introducing__text {
    margin: 12px 0 0;
    font-size: 12px;
  }
}