.introducing {
  padding-bottom: 48px;
  color: $white;

  & .container {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    @include desktop {
      align-items: center;
    }

    @include laptop {
      gap: 12px;
    }

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__figure {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;

    @include mobile {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      max-height: 420px;
      max-width: 400px;
    }

    &_left,
    &_right {
      flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
      height: 756px;

      @include laptop {
        flex: 0 0 calc(100% / 3 - 12px / 3 * 2);
        height: 480px;
      }

      @include tablet {
        height: 400px;
      }

      @include mobile {
        flex: 0 1 auto;
        order: 1;
        height: auto;
      }
    }

    &_left &-image,
    &_right &-image {
      height: 100%;
      object-fit: cover;
    }

    &-image {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    flex: 0 0 calc(100% / 3 - 12px / 3 * 2);

    @include mobile {
      order: 0;
      flex: 0 1 auto;
      max-width: 400px;
    }
  }

  &__title {
    margin: 48px 0 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include laptop {
      margin: 20px 0 0;
      font-size: 24px;
    }

    @include tablet {
      font-size: 20px;
    }
  }

  &__text {
    margin: 18px 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include laptop {
      margin: 14px 0 0;
      font-size: 14px;
    }

    @include tablet {
      margin: 12px 0 0;
      font-size: 12px;
    }
  }
}
